<div class="container">
  <div class="nav-header" *ngIf="isLoggedIn()">
    <div class="nav-group-left">
      <button class="btn-nav" (click)="irParaHome()" title="Início">🏠</button>
      <button class="btn-nav" (click)="voltarNavegacao()" title="Voltar">↩️</button>
    </div>

    <h1 class="logo-central" (click)="irParaHome()">FTTB</h1>

    <div class="nav-group-right">
      <div class="profile-wrapper">
        <button (click)="toggleMenu()" class="btn-profile-circle">👤</button>
        <div *ngIf="menuAberto" class="profile-dropdown-box">
          <span class="user-info">{{ getUserEmail() }}</span>
          <hr style="border: 0; border-top: 1px solid #333; margin: 10px 0;">
          <button (click)="logout()" class="btn-exit">🚪 Sair</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>